<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306728797753-7sfkfe9f0nh8g4nemulh5ir0lnh019ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306728797753-7sfkfe9f0nh8g4nemulh5ir0lnh019ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBiHl390dOFWn0dB3FZPISbNvgQm8b_Zgc</string>
	<key>GCM_SENDER_ID</key>
	<string>306728797753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarmjes.Xccelerator-New</string>
	<key>PROJECT_ID</key>
	<string>xccelerator-91e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>xccelerator-91e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306728797753:ios:5c66687f9938e440a12fe8</string>
</dict>
</plist>